:root {
  --primary-color: #1d1d1d;
  --background-color: white;

  // @media (prefers-color-scheme: dark) {
  //   --primary-color: #888;
  //   --background-color: #1d1d1d;
  // }
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  border: 0;
  overflow: hidden; /*  Disable scrollbars */
  display: block;  /* No floating content on sides */
  font-family: 'Source Sans Pro', sans-serif;
  color: var(--primary-color);
  background-color: var(--background-color);
  font-size: 3vmin;
}
svg {
  fill: var(--primary-color);
}
* {
  margin: 0;
  padding: 0;
}
.hide {
  display: none !important;
}
#logo {
  position: fixed;
  top: 32px;
  left: 32px;

  > img {
    width: 80vw;
    max-width: 332px;
  }
}
#quote {
  display: none;
  position: fixed;
  top: 96px;
  left: 32px;
  @media(min-width: 1000px) {
    display: block;
  }
}
#actions {
  position: fixed;
  bottom: 32px;
  left: 32px;

  > * {
    cursor: pointer;
    background: transparent;
    display: inline-block;
    margin-right: 32px;
    max-width: 20vh;
    max-height: 20vh;
    width: 18vw;
    height: 18vw;
    font-size: 48px;
    line-height: 0; // prevent the focus area from being larger than the button

    @media(min-width: 800px) {
      width: 64px;
      height: 64px;
    }

    // reset button
    border: none;

    // reset link
    text-decoration: none;

    img {
      pointer-events: none;
    }
    
    &:focus {
      outline: 3px solid var(--primary-color);
    }
  }
}

#canvas,
#output {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  width: 80vh;
  max-width: 90vw;
  text-align:center;
}
