.gallery {
  position: relative;
  margin: 96px 32px 0;
  overflow-y: auto;
  height: calc(100% - 128px);
  box-sizing: border-box;

  @media(min-width: 800px) {
    margin: 128px 128px 0;
  }

  &::after {
    pointer-events: none;
    display: block;
    position: fixed;
    bottom: 0;
    content: ' '; // needed for it to be rendered
    width: 100%;
    height: 128px;
    background: linear-gradient( 180deg, transparent, var(--background-color) );
  }

  &__heading {
    text-transform: uppercase;
  }

  &__list {
    display: grid;
    gap: 64px;
    padding-bottom: 128px;
    grid-template-columns: 1fr;
    
    @media(min-width: 800px) {
      grid-template-columns: 1fr 1fr;
    }
    @media(min-width: 1200px) {
      grid-template-columns: 1fr 1fr 1fr;
    }
    @media(min-width: 1400px) {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    @media(min-width: 1800px) {
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
  }
  &__item {
    list-style: none;
    border: var(--primary-color) solid 1px;
    width: 256px;
    height: 256px;

    > a:focus-within {
      outline: 4px solid var(--primary-color);
      line-height: 0;
    }

    canvas {
      width: 100%;
      height: 100%;
    }
  }
}
