.settings {
  background: var(--background-color);
  border: solid 1px var(--primary-color);
  
  width: 100%;
  height: 100%;
  
  @media(min-width: 1000px) {
    width: 60vw;
    height: 70vh;
    max-width: 1000px;
    max-height: 600px;
  }
  
  .btn {
    display: inline-block;
    color: var(--primary-color);
    border: solid 1px var(--primary-color);
    &:focus {
      outline: solid 4px var(--primary-color);
    }
  }
}
