
#notifications {
  font-size: 1.4em;
  position: fixed;
  top: 90px;
  left: 32px;
  
  @media(min-width: 800px) {
    font-size: 1em;
    top: unset;
    left: unset;
    bottom: 32px;
    right: 32px;
  }
}
#notifications > div {
  display: block;
  position: relative;
  animation-name: fadeIn;
  animation-duration: 2s;
}
#notifications > div.fade-out {
  position: relative;
  animation-name: fadeOut;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
    top: 32px;
  }
  100% {
    opacity: 1;
    top: 0;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
    top: 0;
  }
  100% {
    opacity: 0;
    top: -32px;
  }
}
